
/*Core Styles*/
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background: #fff;
    color: #303030;
    font-size: 1.1em;
    line-height: 1.6;
    text-align: center;

}
section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;/*the image will scale down if it has to, but never scale up to be larger than its original size*/
    margin-bottom: 1em;
}
strong {
    font-weight: bold;
}
.github {
    display: inline-block;
    background: #333;
    color: #fff;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #666;
    margin: .5em 0;
}
.github:hover {
    background: #eaeaea;
    color: #333;
}

/*Typography*/
h1,
h2,h3 {
    line-height: 1;
    margin: 0;
}
h1 { font-size: 3rem;}
h2 { font-size: 2.25rem;}
h3 { font-size: 1.25rem;}

.section__title {
margin-bottom: .25em;
}

.section__title--intro {
    font-weight: lighter;
}
.section__title--intro strong {
    display: block;
}
.section__title--services {
    color: #16e0bd;
}
.section__subtitle {
    margin: 0;
    font-size: 1rem;
    background: #16e0bd;
    padding: .25em 1em;
    font-family: 'Source Code Pro', monospace;;
    margin-bottom: 1em;
}
.section__subtitle--work {
    margin: 0;
    padding: 1em 0;
    background: #fff;
    font-family: Arial, sans-serif;
}
/*Header*/
header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
    font-weight: bold;
}


/*Introduction Section A*/
.intro {
    position: relative;
}
.intro__img {
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
                0.125em 0.125em 0.25em rgba(0,0,0,.15);
}
.section__subtitle--intro {
    display: inline-block;
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
                "img title"
                "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro__img{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro {
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: center;
        position: relative;
        left: 11em;
        width: calc(100%);
    }
}

/*Section B */
.grid {
    display: inline-block;
    margin-right: 2em;
    margin-left: 2em;

}
#work {
    background: #333;
    padding: 2em 1em 1em;
}
#work ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#work li {
    margin-bottom: 2em;
    background: #fff;
    color: #333;
}
.card-content {
    padding: 1.5em;
}
/*Section B media query*/
@media (min-width: 700px){
    grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);

    }
    #work ul {
        grid-column: 2/4;
        display: flex;
        justify-content: space-around;

    }
    #work li {
        width: 31%;
    }
}

/*Section C*/
/* Style inputs, select elements and textareas */
input[type=text],input[type=email], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #333;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1rem;
}

/* Style the submit button */
input[type=submit] {
    background-color: #16e0bd;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* Style the container */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}







